/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

# Pragmatic Studiocourse folders
exercise-solutions/
upload-images/
video-code/
vscode/

# - from chapter "17. A Peek At Phoenix" (it was just an explanation)
refuge/
